
#units {
    border: 2px solid rgba(75, 95, 118, 0.181);
    background-color: rgba(75, 95, 118, 0.089);
    font-family: 'Montserrat';
    border-radius: 10px;
    margin-right: 2em;
    padding: .4em;
    padding-left: .6em;
    padding-right: .6em;
    float: right;
    cursor: pointer;
}