
html {
    height: 100%;
}

body {
    background-image: linear-gradient(rgb(157, 186, 228), rgb(206, 229, 240));
    font-family: 'Montserrat';
    font-weight: 200;
    overflow: hidden;
    padding-left: 5em;
    padding-right: 5em;
}

.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2.5em;
    padding-right: 2.5em;
    letter-spacing: 2px;
    animation-name: fadein;
    position: relative;
    animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadein {
    0% {
        opacity: 0;
        bottom: -4em;
    }
    100% {
        opacity: 1;
        bottom: 0em;
    }
}

.date {
    font-size: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.462);
}

.note {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 2em;
    padding-right: 4em;
    padding-left: 4em;
    width: 60em;
    height: 26em;
    border-radius: 40px;
    text-align: left;
}

#header {
    text-align: center;
}

#notebutton {
    border: 2px solid rgba(75, 95, 118, 0.05);
    background-color: rgba(75, 95, 118, 0.029);
    color: rgba(75, 95, 118, 0.29);
    font-family: 'Montserrat';
    border-radius: 10px;
    margin-top: 0em;
    margin-right: -6em;
    padding: .4em;
    padding-left: .6em;
    padding-right: .6em;
    float: right;
    cursor: pointer;
}