.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3em;
}

.card {
    background-color: coral;
    padding: 1em;
    width: 10em;
    height: 15em;
    border-radius: 30px;
    text-align: center;
}