
html {
    background-image: linear-gradient(rgb(157, 186, 228), rgb(206, 229, 240));
    height: 100%;
    font-family: 'Montserrat';
    font-weight: 200;
    overflow: hidden;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

#title {
    font-weight: 800;
    font-size: 4em;
    letter-spacing: 6px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.6em;
    text-align: left;
    /* background-color: black; */
    color: rgba(255, 255, 255, 0.893);
}

#location {
    margin-right: 1em;
    background-color: rgba(255, 255, 255, 0.25);
}

.data {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
    letter-spacing: 2px;
}

.current {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    margin: 1em;
    width: 26em;
    height: 26em;
    border-radius: 40px;
    text-align: center;
}

#ctemp {
    font-size: 6em;
    font-weight: 400;
    margin: 0;
    margin-left: 0.5em;
    text-align: left;
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    margin: 1em;
    margin-top: 1.4em;
    margin-bottom: 0.7em;
    width: 37em;
    height: 3.7em;
    border-radius: 30px;
    text-align: left;
}